## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
a = int(input('enter a number : '))
if a%2==0:
    print('even')
else:
    print('odd')

enter a number : 2
even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
b = int(input('enter a number for table :'))

for i in range(1,11,1):
    print(b,'*',i,'=',b*i)

enter a number for table :8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [11]:
c=[i for i in range(2000,3200) if i%7==0 and i%5!=0]
print(c)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [27]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [2]:
int_c=0
str_c=0
bool_c=0
none_c=0
float_c=0
 
l=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

for i in l:
    if type(i)==int:
        int_c=int_c+1
    
    elif type(i)==str:
        str_c=str_c+1
        
    elif type(i)==bool:
        bool_c= bool_c+1
        
    elif type(i)==float:
        float_c=float_c+1
        
    else:
        none_c=none_c+1

print('int=',int_c,'str=',str_c,'bool=',bool_c,'none=',none_c,'float=',float_c)

int= 5 str= 4 bool= 1 none= 1 float= 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [28]:
total=0

for i in l:
    if type(i)in(int,float):
        total=total+i

print(total)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
l3=[] 

for i in l:
    if type(i)==str:
        l3.append(i)
        
print('-'.join(l3))

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [62]:
dict1={'sum':0 , 'count':0}

def demo1(l):
    dict1['sum']=sum([i for i in l if type(i)==int or type(i)==float])
    dict1['count']=len([i for i in l if type(i)==str])
        
demo1(l)

print(dict1)

{'sum': 21.5, 'count': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [78]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
#i. Use loops to get the answer
newlist=[]
for i in li:
    if i%2!=0:
        newlist.append(i) #.append helps to through result horizontal not vertical
print('newlist  ',newlist)


# ii. Use list comprehensions
newlist_1=[i for i in li if i%2!=0]
print('newlist_1',newlist_1)
        
    
#iii. Use lambda function with filter
newlist_2=list(filter(lambda x : x%2!=0,li))
print('newlist_2',newlist_2)

newlist   [5, 7, 97, 77, 23, 73, 61]
newlist_1 [5, 7, 97, 77, 23, 73, 61]
newlist_2 [5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [14]:
# input the number is not done
lo = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

list5=[]
def demo5(lo):
    sum1=sum(lo)
    count1=len(lo)
    min1=min(lo)
    mean1=sum1/count1
    max1=max(lo)
    
    list5.append(sum1)
    list5.append(count1)
    list5.append(min1)
    list5.append(mean1)
    list5.append(max1)
     
demo5(lo)
list5

[481, 10, 5, 48.1, 97]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [4]:
name=input('enter the name of the shape - ')

def calcul_area (name):
    if name=='square':
        s=int(input('enter the side for square-'))
        
        area_sqaure=s*s
        print('area of sqaure=',area_sqaure)
        
    elif name=='rectangle':
        l=int(input('enter the lenghth of the rectangle - '))
        w=int(input('enter the width of the rectangle - '))
        
        area_rect=l*w
        print('area of rectangle-' , area_rect)
        
    elif name=='circle':
        r=int(input('enter the radius of the circle - '))
        area_circl=3.14*r*r
        print('are of circle - ',area_circl)
        
calcul_area(name)

enter the name of the shape - square
enter the side for square-5
area of sqaure= 25

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [6]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
s1=set(l1)
s2=set(l2)
dict2={}
def demo3(l1,l2):
    dict2['matched']=s1.intersection(s2)
    dict2['onlyl1']=s1.difference(s2)
    dict2['onlyl2']=s2.difference(s1)
    
demo3(l1,l2)

print(dict2)

{'matched': {'February', 'June', 'January', 'December'}, 'onlyl1': {'May', 'March', 'September'}, 'onlyl2': {'October', 'April'}}

Q13: write a UDF to check if a number is prime or not.

In [10]:
f=int(input('enter the number : '))
def demo4(f):
    for i in range(2,f,1):
        if f%i==0:
            print('not prime')
            break
          
        else:
            print('prime')
        
demo4(f)

enter the number : 10
not prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [10]:
h=int(input('enter the number :'))
fact=1
for i in range(h,1,-1):
    fact=fact*i
    
print('output :',fact)

enter the number :8
output : 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [4]:
g=int(input('enter the number :'))

dict3={}

for i in range(1,g+1,1):
    dict3[i]=i*i

print(dict3)

enter the number :6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [19]:
num=input('enter the sequence : ')

m=num.split(',')

print(m)

z=tuple(m)
print(z)

enter the sequence : 45,5,6,4
['45', '5', '6', '4']
('45', '5', '6', '4')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [24]:
num1=input('enter the sequence : ')

k=num1.split(',')
k.sort()
print(k)

enter the sequence : b,c,a,k
['a', 'b', 'c', 'k']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [5]:
text1=input('enter the text :')
text2=text1.split(' ')
set1 = set(text2)

print(' '.join(set1))

enter the text :hello world and practice makes perfect and hello world again
practice world makes again hello perfect and

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [101]:
case_text=input('enter the text: ')
upper=0
lower=0

for i in case_text:
    if i.isupper():
        upper=upper+1
    elif i.islower():
        lower=lower+1
        
print('upper',upper,'lower',lower)

print()

enter the text: kshFGFDSSS
upper 7 lower 3

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [95]:
input_str=input('enter the text: ')

reversed_text = input_str[ : :-1]
reversed_text

enter the text: satyam

'maytas'